Qwen2-Audio-7B-Instruct/

# Other models
asr_models/
tts_models/XTTS-v2/
audio-flamingo-weights/

# this folder has the weights for all SALMONN's components
model_components/

# source code - can be directly cloned from source
audio-flamingo-code/

# Envs
audio-faithful/
tts-env/
whisper_env/
audio-analysis-env/
audio-flamingo-env/
salmonn_env/
analysis_env/

# Data
data/**/audio/
data/**/hf_cache/
data/**/**/audio/
data/**/**/hf_cache/

# Data (input/intermediate) - ASR + AAC
data/**/asr
data/**/**/asr
data/**/captioning
data/**/**/captioning

# Data (input/intermediate) - TTS
spoken_reasoning/audio

# .pyc files
*.pyc
__pycache__/
*/__pycache__/
*/*/__pycache__/

# Cluster specific stuff
logs/
submission_scripts/


nltk_data/

# Output files
results/
plots/

old_comparitive_plots/
old_unused_results/

flamingo_result/

# removing for repo readability
data_processing/add_noise_to_dataset.py
data_processing/convert_csv_to_jsonl.py
data_processing/enrich_mmar_dataset.py
data_processing/create_silent_audio.py

experiments/robustness_to_noise.py

analysis/plot_robustness_to_noise.py
analysis/analyze_mmar_subcategories.py
analysis/generate_cot_stats.py
analysis/final_plots
analysis/

final_plots/delta_slope_vs_accuracy
final_plots/flamingo
final_plots/slope_vs_accuracy

misc-old-scripts/

.gitattributes
helper.txt
salmonn_helper.txt

# to be used later
core/audio_flamingo_utils.py