Qwen2-Audio-7B-Instruct/

# Other models
asr_models/
tts_models/XTTS-v2


# Envs
audio-faithful/
tts-env/
whisper_env/

data/**/audio/
data/**/hf_cache/
data/**/**/audio/
data/**/**/hf_cache/

data/**/asr
data/**/**/asr
data/**/captioning
data/**/**/captioning


*.pyc
__pycache__/
*/__pycache__/
*/*/__pycache__/

# Cluster specific stuff
logs/
submission_scripts/


nltk_data/

# Output files
results/
plots/

old_comparitive_plots/

# this is where tts results are going in
spoken_reasoning/audio