# flamingo_requirements.txt

# Core dependencies from the environment_setup.sh
# Versions are pinned for reproducibility.

hydra-core
loguru
Pillow
pydub
flash-attn==2.7.3
transformers==4.46.0
pytorchvideo==0.1.5
deepspeed==0.15.4
accelerate==0.34.2
numpy==1.26.4
opencv-python-headless==4.8.0.76
matplotlib
soundfile
librosa
openai-whisper
ftfy
jiwer
wandb
kaldiio
peft==0.14.0
protobuf==3.20.*