accelerate==0.20.3
aiofiles==24.1.0+computecanada
aiohappyeyeballs==2.6.1+computecanada
aiohttp==3.12.13+computecanada
aiosignal==1.4.0+computecanada
altair==5.5.0+computecanada
annotated_types==0.7.0+computecanada
antlr4_python3_runtime==4.9.3+computecanada
anyio==4.10.0+computecanada
async_timeout==5.0.1+computecanada
attrs==25.3.0+computecanada
audioread==3.0.1+computecanada
bitsandbytes==0.47.0+computecanada
certifi==2025.8.3+computecanada
cffi==1.17.1+computecanada
charset_normalizer==3.4.3+computecanada
click==8.2.1+computecanada
contourpy==1.3.1+computecanada
cycler==0.12.1+computecanada
decorator==5.2.1+computecanada
exceptiongroup==1.3.0+computecanada
fastapi==0.116.2
ffmpy==0.6.1+computecanada
filelock==3.19.1+computecanada
fonttools==4.59.2
frozenlist==1.7.0+computecanada
fsspec==2025.9.0+computecanada
gradio==3.23.0
h11==0.16.0+computecanada
hf_xet==1.1.9+computecanada
httpcore==1.0.9+computecanada
httpx==0.28.1+computecanada
huggingface-hub==0.35.0
idna==3.10+computecanada
jinja2==3.1.6+computecanada
joblib==1.5.2+computecanada
jsonschema==4.25.1+computecanada
jsonschema_specifications==2025.9.1+computecanada
kiwisolver==1.4.8+computecanada
lazy_loader==0.4+computecanada
librosa==0.11.0
linkify_it_py==2.0.3+computecanada
llvmlite==0.44.0+computecanada
markdown_it_py==2.2.0+computecanada
MarkupSafe==2.1.5+computecanada
matplotlib==3.10.0+computecanada
mdit-py-plugins==0.3.3
mdurl==0.1.2+computecanada
mpmath==1.3.0+computecanada
msgpack==1.1.0+computecanada
multidict==6.6.4
narwhals==2.5.0+computecanada
networkx==3.4.2+computecanada
nltk==3.9.1+computecanada
numba==0.61.0+computecanada
numpy==1.26.4+computecanada
omegaconf==2.3.0+computecanada
orjson==3.10.5+computecanada
packaging==25.0+computecanada
pandas==2.2.3+computecanada
peft==0.3.0
pillow==11.1.0+computecanada
Pillow_SIMD==9.5.0.post2+computecanada
platformdirs==4.4.0+computecanada
pooch==1.8.2+computecanada
propcache==0.3.2+computecanada
psutil==7.0.0+computecanada
pycparser==2.23+computecanada
pydantic==2.11.9+computecanada
pydantic_core==2.33.2
pydub==0.25.1+computecanada
pyparsing==3.2.4+computecanada
python_dateutil==2.9.0.post0+computecanada
python_multipart==0.0.20+computecanada
pytz==2025.2+computecanada
PyYAML==6.0.2+computecanada
referencing==0.36.2+computecanada
regex==2024.9.11+computecanada
requests==2.32.5+computecanada
rpds_py==0.20.0+computecanada
scikit_learn==1.5.2+computecanada
scipy==1.15.1+computecanada
semantic_version==2.10.0+computecanada
sentencepiece==0.1.97+computecanada
six==1.17.0+computecanada
sniffio==1.3.1+computecanada
soundfile==0.13.1+computecanada
soxr==0.3.5+computecanada
starlette==0.48.0
sympy==1.13.1+computecanada
threadpoolctl==3.6.0+computecanada
tokenizers==0.13.3+computecanada
torch==2.6.0+computecanada
torchaudio==2.6.0+computecanada
torchvision==0.21.0+computecanada
tqdm==4.67.1+computecanada
transformers==4.28.0
typing_extensions==4.15.0+computecanada
typing_inspection==0.4.1+computecanada
tzdata==2025.2+computecanada
uc_micro_py==1.0.3+computecanada
urllib3==2.5.0+computecanada
uvicorn==0.35.0+computecanada
websockets==15.0.1
yarl==1.20.1+computecanada
