module load StdEnv/2023
module load Python/3.10
module load StdEnv/2023 cuda/12.2 rust gcc arrow

activate

pip install torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cu121

pip install nltk

peft==0.3.0
soundfile 
librosa
transformers==4.28.0
sentencepiece==0.1.97
accelerate==0.20.3
bitsandbytes
gradio==3.23.0